# Backend
backend/venv/
backend/.env
__pycache__/
backend/*.db
backend/test_flow.py

# Frontend
frontend/node_modules/
frontend/.next/
frontend/.env*
frontend/out/

# Scripts
scripts/.venv/

# Diversos
.env
.DS_Store
*.log

*.pyc
*.pem

/aws
*.zip